<div class="bookingContainer mt-4">
  <div class="booking-container">
    <h1 class="text-center fw-bold mt-4">Booking Details</h1>
    <div *ngIf="!registerForm">Loading booking details...</div>
    <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="cancelBooking()"
      class="d-flex flex-column gap-3 mb-4 p-4 custom-form rounded shadow"
    >
      <div>
        <label for="roomId">RoomId</label>
        <input
          type="text"
          placeholder="Enter room Id"
          class="form-control"
          formControlName="roomId"
         readonly
        />
      </div>

      <div>
        <label for="userId">UserId</label>
        <input
          type="text"
          placeholder="Enter user Id"
          class="form-control"
          formControlName="userId"
         readonly
        />
      </div>
      <div>
        <label for="username">Username</label>
        <input
          type="text"
          placeholder="Enter username"
          class="form-control"
          formControlName="username"
        />
      </div>

      <div>
        <label for="email">email</label>
        <input
          type="email"
          placeholder="Enter email"
          class="form-control"
          formControlName="email"
        />
      </div>

      <div>
        <label for="CheckInDate">CheckInDate</label>
        <input
          type="date"
          placeholder="Enter date"
          class="form-control"
          formControlName="checkInDate"
        />
      </div>
      <div>
        <label for="checkOutDate">ChecOutDate</label>
        <input
          type="date"
          placeholder="Enter date"
          class="form-control"
          formControlName="checkOutDate"
        />
      </div>

      <div>
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          class="btn btn-danger"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
