<div *ngIf="showSingle && staff" class="card-body">
  <h2>Staff Details</h2>
  <p><strong>ID:</strong> {{ staff.id }}</p>
  <p><strong>Name:</strong> {{staff.staffName }}</p>
  <p><strong>Email:</strong> {{ staff.email }}</p>
  <p><strong>Phone:</strong> {{ staff.phone }}</p>
  <p><strong>Role:</strong> {{ staff.role }}</p>
  <button (click)="goBackToList()" class="btn btn-secondary btn-sm">Back to All Staff</button>
</div>

<div *ngIf="!showSingle && allStaff.length>0">

<table border="2" class="table table-striped">
    <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let staff of allStaff">
    <td>{{ staff.id }}</td>
    <td>{{ staff.staffName }}</td>
    <td>{{ staff.email }}</td>
    <td>{{ staff.phoneNo }}</td>
    <td>{{ staff.role }}</td>
    <td><button (click)="viewStaff(staff.id)" class="btn btn-success">View</button></td>
  </tr>
  </tbody>
</table>
</div>

