.top-container{
background-image:url("../../../assets/images/hotel.jpg");
height:100vh;
/* width:auto; */
display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.nav-link.active {
  color: #0d6efd !important;
  
}

.nav-link{
font-size:large;
    
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






.custom-form {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  color: #333;
}

/* .custom-form span{
    color:red;
    font-size:14px;

} */

