.Container{
background-image:url("../../assets/images/hotel.jpg");
height:100vh;
/* width:auto; */
display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.proContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit(minmax(300px,1fr)));
    gap:30px;

}
.card-body{
    
     transition: transform 0.1s ease;
     
     
}
.card-body:hover{
     transform: scale(1.1);
}
