<!-- <div class="Container">
<h1>Welcome to Our Hotel</h1>
</div>
<section class="proContainer">
    <div *ngFor="let element of data;let i=index" class="card">
        <a [routerLink]="element?.id" class="card-body">
            <img [src]="element?.image" alt="No Image Found" width="100%">
            <h3>User Name: {{element?.name}}</h3>
            <p>Product Price: {{element?.pricePerNight | currency:"INR"}}</p>
            <p>Short Description:{{element?.shortDescription}}</p>
        </a>
    </div>
</section> -->