<section class="proContainer">
  <div *ngFor="let element of data; let i = index" class="card custom-card p-3 mb-4">
    
    <div class="row g-4 align-items-center">
      <div class="col-md-7">
        <img
          [src]="element?.image"
          alt="No Image Found"
          class="img-fluid rounded-start"
          style="width: 100%; height: auto; object-fit: cover;"
        />
      </div>

      <div class="col-md-5 d-flex flex-column justify-content-between">
      <div>
        <h1 class="card-title fw-bold">{{ element?.name }}</h1>
        <p class="card-text">
          Price Per Night: {{ element?.pricePerNight | currency : "INR" }}
        </p>
        <p class="card-text">
           Description:{{ element?.shortDescription }}
        </p>
        <p class="card-text">Maximum Guests:{{ element?.maxGuests }}</p>
        <p class="card-text">Ameneties:{{ element?.amenities?.join(', ')}}</p>
        <p class="card-text">Rating:{{ element?.rating }}⭐⭐⭐⭐</p>

        <button class="btn btn-primary btn-sm my-3" (click)="onClick()">
          book now
        </button>
      </div>
    </div>
  </div>
  </div>
</section>
